In [1]:
import pandas as pd
#import requests
from bs4 import BeautifulSoup as bs
import urllib.request as ureq

In [2]:
def func_scrape(tag, element, element_desc, series_title):
    e_list = []
    for j in range(1,10):
            url_p2 = f'https://www.gumtree.com.au/s-cars-vans-utes/vic/car/page-{j}/k0c18320l3008844?sort=rank'
            htmlfile_ = ureq.urlopen(url_p2)
            htmltext_= htmlfile_.read()
            htmlfile_.close()
            soup = bs(htmltext_,'html.parser')
            car_title = soup.findAll(tag,{element:element_desc})
            for title in car_title:
                all_titles = title.text
                e_list.append(all_titles)
    return pd.Series(e_list, name=series_title)

In [3]:
title_series = func_scrape('span','class','user-ad-row-new-design__title-span','car_title')
type(title_series)

pandas.core.series.Series

In [4]:
#Scraping Price
price_series = func_scrape('span','class','user-ad-price-new-design__price','car_price')

In [5]:
#Scraping Location
loc_series = func_scrape('div','class','user-ad-row-new-design__location','car_location')
len(loc_series)

270

In [6]:
DF = pd.concat([title_series, price_series, loc_series], axis=1)
type(DF)

pandas.core.frame.DataFrame

In [7]:
DF.head(10)

,car_title,car_price,car_location
0,2019 Nissan X-Trail T32 Series II ST X-tronic ...,"$36,968","Berwick, VIC"
1,2017 Holden Commodore ZB MY18 RS Sportwagon Gr...,"$27,967","Mornington, VIC"
2,2018 BMW 1 Series F20 LCI-2 118i Steptronic Sp...,"$28,464","Elsternwick, VIC"
3,2020 Ford Ranger PX MkIII 2020.75MY Raptor Blu...,"$40,968","Ferntree Gully, VIC"
4,2016 Toyota Yaris NCP130R Ascent Blue 4 Speed ...,"$17,499","South Geelong, VIC"
5,2019 Mazda 3 BP2H7A G20 SKYACTIV-Drive Touring...,"$11,999","South Geelong, VIC"
6,Perfect family car. 2016 VW Multivan tdi340 c...,"$32,997","Delacombe, VIC"
7,Wanted: CASH FOR CARS: CARS WANTED,Negotiable,"Moorabbin, VIC"
8,Do you have an old Car or Truck that is taking...,$500,"Ballarat Central, VIC"
9,CAR FREE PICKUP,$500,"Geelong, VIC"